.container {
  -fx-background-color: #20120f;
}

.tab *.tab-label {
  -fx-rotate: 0;
}

.tab {
  -fx-padding: 3em 0.2em 3em 0.2em;
  -fx-pref-height: 160;
  -fx-pref-width: 60;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.anchorContainer {
  -fx-background-color: #e0e0eb;
}

.tabContainer {
  -fx-background-color: #f0f0f5;
}

/* .btnEdit {
  -fx-color: #ffc107;
} */

.btnDelete {
  -fx-color: red;
}

.table-column-center {
  -fx-alignment: CENTER;
}
