.artwork-card {
  /* -fx-background-color: #eeeeee; */
}

.artwork-card-image {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.artwork-card-body {
  -fx-background-color: #d1d1d1;
  -fx-background-radius: 2em;
  -fx-border-width: 2;
  -fx-border-color: #d1d1d1;
  -fx-border-radius: 2em;
}
